---
BasedOnStyle: LLVM

# Indentation
UseTab: Always
TabWidth: 8
IndentWidth: 8
ContinuationIndentWidth: 8

# Line length
ColumnLimit: 200

# Brace style
BreakBeforeBraces: Linux

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveMacros: false
AlignTrailingComments: true
